body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*style for bootstrap */
/* for modal */
div.jumbotron.text-center {position: absolute;} 
/* for btn-auth */
.btn-outline-dark {transition: all 500ms linear;}

#myGoogleButton {margin-bottom: 15px;}
